* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.top_block {
    max-width: 1200px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 150px;
    header {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 40px 0;
        .logo {
            border-radius: 16px;
        }
        .header_nav {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 32px;
            a {
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                color: #0D0D12;
            }
        }
        .header_btns {
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            .theme_btn {
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                svg {
                    width: 40px;
                    height: 40px;
                }
                img {
                    cursor: pointer;
                }
            }
            .btn_started_header {
                cursor: pointer;
                display: flex;
                padding: 18px 42px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 900px;
                background: var(--Blue-12, rgba(41, 126, 226, 0.12));
                color: var(--Deep-blue, #297EE2);
                text-align: center;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                transition: background-color ease-in .3s;
                &:hover {
                    background: rgba(65, 164, 223, 0.16);
                }
            }
        }
    }
    .main_top_block {
        display: flex;
        padding-top: 20px;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .left {
            display: flex;
            gap: 32px;
            flex-direction: column;
            .title {
                color: var(--Dark, #0D0D12);
                font-family: Inter;
                font-size: 80px;
                font-style: normal;
                font-weight: 629;
                line-height: 110%;
                letter-spacing: -2.4px;
                max-width: 690px;
                span {
                    color: var(--Blue, var(--General, #41A4DF));
                }
            }
            .text_under_title {
                max-width: 346px;
                color: var(--Dark, #0D0D12);
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
            }
            .btn_started_main {
                display: flex;
                padding: 18px 42px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 900px;
                background: var(--General, #41A4DF);
                color: var(--White, #FFF);
                text-align: center;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                max-width: 196px;
                cursor: pointer;
                transition: background-color ease-in .3s;
                &:hover {
                    background: #297EE2;
                }
            }
            .populare {
                padding-top: 26px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                gap: 16px;
                .bots_block {
                    display: flex;
                    .photo_block {
                        background: #fff;
                        border-radius: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 4px;
                        margin-left: -33px;
                        &:first-child {
                            margin-left: 0px
                        }
                        img {
                            border-radius: 100%;
                        }
                    }
                }
                p {
                    color: var(--Dark, #0D0D12);
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }
            }
        }
        .top_phone {
            box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.10);
            border-radius: 57px;
        }
    }
}

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 196px 0;
    background: var(--Dark-blue, #232328);
    gap: 80px;
    .slider_con {
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-height: 488px;
        overflow: hidden;
        transition: top ease 1s;
        .slider_sec {
            display: flex;
            width: 100%;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            position: relative;
            top: 488px;
            transition: top ease 1s;
        }
        .slider_block2 {
            .photo_block {
                background: var(--BG-yellow, linear-gradient(207deg, #FCB69F 6.91%, #FFECD2 92.45%)) !important;
            }
        }
        .slider_block3 {
            .photo_block {
                background: var(--BG-blue, linear-gradient(0deg, #C2E9FB -16.6%, #A1C4FD 106.15%)) !important;
            }
            .under_title {
                max-width: 462px !important;
            }
        }
        .slider_block {
            display: flex;
            height: 488px;
            width: 100%;
            transition: all ease 1s;
            justify-content: space-between;
            .photo_block {
                display: inline-flex;
                height: 488px;
                width: 488px;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                background: var(--BG-pink, linear-gradient(340deg, #FAACA8 8.42%, #DDD6F3 91.45%));
                img {
                    width: 395px;
                }
            }
            .main_block_slider {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 80px;
                max-width: 590px;
                .text_block {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 32px;
                    .title {
                        color: var(--White, #FFF);
                        font-family: Inter;
                        font-size: 56px;
                        font-style: normal;
                        font-weight: 629;
                        line-height: 110%;
                        letter-spacing: -1.68px;
                        .auto_sales {
                            width: 302px;
                            display: inline-block;
                        }
                        span {
                            color: var(--Blue, var(--General, #41A4DF));
                        }
                    }
                    .under_title {
                        color: var(--White, #FFF);
                        font-family: Inter;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        max-width: 341px;
                    }
                    .open_api_btn {
                        display: inline-flex;
                        padding: 18px 42px;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        border-radius: 900px;
                        background: var(--General, #41A4DF);
                        color: var(--White, #FFF);
                        text-align: center;
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                        cursor: pointer;
                        transition: background-color ease-in .3s;
                        &:hover {
                            background: #297EE2;
                        }
                    }
                }
            }
        }
    }
    .slider_btns {
        height: 408px;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
        .active {
            background: var(--General, #41A4DF) !important;
        }
        .line {
            height: 100%;
            border-radius: 90px;
            background: var(--White-24, rgba(255, 255, 255, 0.24));
            width: 4px;
            cursor: pointer;
            transition: ease-in-out .3s;
            &:hover {
                background: var(--General, #41A4DF);
                transition: ease-in-out .3s;
            }
        }
        p {
            color: #FFF;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
            text-transform: uppercase;
        }
    }
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 144px;
    flex-direction: column;
    width: 100%;
    .main_1 {
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
        gap: 20px;
        padding-bottom: 144px;
        .accept_cryptocurrencies_sec {
            width: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 40px;
            background: var(--Bg-light, #F7F9FB);
            padding: 42px 56px;
            gap: 42px;
            .mob_crypto {
                display: none;
            }
            .text_block {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .title {
                    color: var(--Dark, #0D0D12);
                    font-family: Inter;
                    font-size: 42px;
                    font-style: normal;
                    font-weight: 629;
                    line-height: 110%;
                    letter-spacing: -1.26px;
                }
                .text {
                    color: var(--Dark-80, rgba(17, 17, 17, 0.80));
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    .bold {
                        font-weight: 500;
                    }
                    .blue {
                        color: var(--Blue, var(--General, #41A4DF));
                        font-weight: 500;
                    }
                }
            }
            video {
                width: 100%;
            }
        }
        .middle_block {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            gap: 20px;
            width: 100%;
            .left {
                display: flex;
                gap: 20px;
                max-width: 488px;
                flex-direction: column;
                .one_click_block {
                    width: 100%;
                    border-radius: 40px;
                    background: var(--Bg-light, #F7F9FB);
                    padding: 42px 56px;
                    gap: 16px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    video {
                        width: 100%;
                    }
                    .text_block {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        .title {
                            color: var(--Dark, #0D0D12);
                            font-family: Inter;
                            font-size: 42px;
                            font-style: normal;
                            font-weight: 629;
                            line-height: 110%;
                            letter-spacing: -1.26px;
                        }
                        .text {
                            color: var(--Dark-80, rgba(17, 17, 17, 0.80));
                            font-family: Inter;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            span,
                            a {
                                color: var(--Blue, var(--General, #41A4DF));
                                font-family: Inter;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 120%;
                            }
                        }
                    }
                }
                .real_time_block {
                    display: flex;
                    flex-direction: column;
                    border-radius: 32px;
                    background: var(--Bg-light, #F7F9FB);
                    padding: 42px 56px;
                    gap: 16px;
                    width: 100%;
                    video {
                        width: 100%;
                    }
                    .text_block {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        .title {
                            color: var(--Dark, #0D0D12);
                            font-family: Inter;
                            font-size: 42px;
                            font-style: normal;
                            font-weight: 629;
                            line-height: 110%;
                            letter-spacing: -1.26px;
                        }
                        .text {
                            color: var(--Dark-80, rgba(17, 17, 17, 0.80));
                            font-family: Inter;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                            span {
                                color: var(--Blue, var(--General, #41A4DF));
                                font-family: Inter;
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 120%;
                            }
                        }
                    }
                }
            }
            .payment_statistics {
                display: flex;
                gap: 24px;
                border-radius: 32px;
                background: var(--Bg-light, #F7F9FB);
                flex-direction: column;
                padding: 42px 56px;
                width: 100%;
                max-width: 692px;
                video {
                    border-radius: 24px;
                    width: 100%;
                }
                .text_block {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .title {
                        color: var(--Dark, #0D0D12);
                        font-family: Inter;
                        font-size: 42px;
                        font-style: normal;
                        font-weight: 629;
                        line-height: 110%;
                        letter-spacing: -1.26px;
                    }
                    .text {
                        color: var(--Dark-80, rgba(17, 17, 17, 0.80));
                        font-family: Inter;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        max-width: 530px;
                        span,
                        a {
                            color: var(--Blue, var(--General, #41A4DF));
                            font-family: Inter;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%;
                        }
                    }
                }
            }
        }
        .bot_block {
            display: flex;
            align-items: flex-start;
            justify-content: center;
            width: 100%;
            gap: 20px;
            .send_coins_block {
                max-width: 692px;
                width: 100%;
                padding: 0px 42px 42px 42px;
                gap: 20px;
                display: flex;
                flex-direction: column;
                border-radius: 40px;
                background: var(--Bg-light, #F7F9FB);
                video {
                    width: 100%;
                }
                .text_block {
                    display: flex;
                    gap: 20px;
                    flex-direction: column;
                    .title {
                        color: var(--Dark, #0D0D12);
                        font-family: Inter;
                        font-size: 42px;
                        font-style: normal;
                        font-weight: 629;
                        line-height: 110%;
                        letter-spacing: -1.26px;
                    }
                    .text {
                        color: var(--Dark-80, rgba(17, 17, 17, 0.80));
                        font-family: Inter;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        span {
                            color: var(--Blue, var(--General, #41A4DF));
                            font-family: Inter;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%;
                        }
                    }
                }
            }
            .anonymous_payments {
                max-width: 488px;
                width: 100%;
                display: flex;
                padding: 42px;
                flex-direction: column;
                gap: 20px;
                border-radius: 32px;
                background: var(--Bg-light, #F7F9FB);
                video {
                    border-radius: 24px;
                    width: 100%;
                }
                .text_block {
                    display: flex;
                    gap: 20px;
                    flex-direction: column;
                    .title {
                        color: var(--Dark, #0D0D12);
                        font-family: Inter;
                        font-size: 42px;
                        font-style: normal;
                        font-weight: 629;
                        line-height: 110%;
                        letter-spacing: -1.26px;
                    }
                    .text {
                        color: var(--Dark-80, rgba(17, 17, 17, 0.80));
                        font-family: Inter;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        max-width: 352px;
                        span {
                            color: var(--Blue, var(--General, #41A4DF));
                            font-family: Inter;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%;
                        }
                    }
                }
            }
        }
    }
    .quick_start_using_sec {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        flex-direction: column;
        padding: 120px 0;
        background: var(--Bg-light, #F7F9FB);
        .main_title {
            color: var(--Main-text, #252525);
            font-family: Inter;
            font-size: 56px;
            font-style: normal;
            font-weight: 629;
            line-height: 110%;
            letter-spacing: -1.68px;
            span {
                color: var(--Main-akcent, #41A4DF);
                font-family: Inter;
                font-style: normal;
                font-weight: 629;
                line-height: 110%;
                letter-spacing: -1.68px;
            }
        }
        .quick_start_block {
            max-width: 1200px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .text_block {
                display: flex;
                flex-direction: column;
                gap: 20px;
                .cifra {
                    width: 64px;
                    height: 64px;
                    border-radius: 900px;
                    background: linear-gradient(220deg, #010417 10.26%, #2B333F 84.25%), linear-gradient(46deg, #000 15.89%, #434343 171.16%);
                    box-shadow: 0px 0px 8px 0px rgba(182, 186, 191, 0.04), 0px 2px 3px 0px rgba(0, 0, 0, 0.02);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #FFF;
                    text-align: center;
                    font-family: Inter;
                    font-size: 42px;
                    font-style: normal;
                    font-weight: 629;
                    line-height: 110%;
                    letter-spacing: -1.26px;
                }
                .text_con {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                }
                .title {
                    color: var(--Dark, #0D0D12);
                    font-family: Inter;
                    font-size: 42px;
                    font-style: normal;
                    font-weight: 629;
                    line-height: 110%;
                    letter-spacing: -1.26px;
                }
                .mini_text {
                    color: var(--Dark-80, rgba(17, 17, 17, 0.80));
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    max-width: 360px;
                }
                .dop_text_block {
                    display: flex;
                    gap: 8px;
                    flex-direction: column;
                    li {
                        color: var(--Blue, var(--General, #41A4DF));
                        font-family: Inter;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                        display: flex;
                        flex-direction: row;
                        &::before {
                            content: "·";
                            font-size: 40px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            text-align: center;
                            max-height: 29px;
                            margin-left: 5px;
                            margin-right: 12px;
                        }
                        span {
                            color: var(--Dark-80, rgba(17, 17, 17, 0.80));
                            font-family: Inter;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                        }
                    }
                    .text {
                        color: var(--Dark, #0D0D12);
                        font-family: Inter;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        a,
                        span {
                            color: var(--Blue, var(--General, #41A4DF));
                            font-family: Inter;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%;
                        }
                    }
                }
            }
            .img_block1 {
                width: 100%;
                max-width: 590px;
                padding: 117px 99px 117.478px 99px;
                border-radius: 40px;
                background: var(--BG-purple, linear-gradient(297deg, #8EC5FC 8.25%, #E0C3FC 91.76%));
                img {
                    box-shadow: 0px 2.81699px 30.04793px 0px rgba(99, 57, 42, 0.12);
                    border-radius: 18px;
                }
            }
            .img_block2 {
                display: flex;
                width: 100%;
                max-width: 590px;
                height: 488px;
                padding: 0px 97.721px 0px 98px;
                justify-content: center;
                align-items: center;
                border-radius: 40px;
                background: var(--BG-yellow, linear-gradient(207deg, #FCB69F 6.91%, #FFECD2 92.45%));
            }
            .img_block3 {
                border-radius: 40px;
                background: var(--BG-blue, linear-gradient(0deg, #C2E9FB -16.6%, #A1C4FD 106.15%));
                display: flex;
                padding: 145px 93.647px 144.647px 93px;
                justify-content: center;
                align-items: center;
            }
        }
    }
    .main_2 {
        display: flex;
        align-items: center;
        justify-items: center;
        background: var(--Dark-blue, #232328);
        width: 100%;
        .main_2_sec {
            background: #fff;
            border-radius: 0px 0px 40px 40px;
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 144px;
            align-items: center;
            justify-content: center;
            padding-top: 120px;
            padding-bottom: 80px;
            .crypto_pay_api {
                max-width: 1200px;
                width: 100%;
                height: 550px;
                background: url(../img/API-block-bg.png);
                padding: 0 80px;
                display: flex;
                align-items: center;
                border-radius: 40px;
                .info_block {
                    display: flex;
                    flex-direction: column;
                    gap: 32px;
                    max-width: 408px;
                    .title {
                        color: var(--White, #FFF);
                        font-family: Inter;
                        font-size: 56px;
                        font-style: normal;
                        font-weight: 629;
                        line-height: 110%;
                        letter-spacing: -1.68px;
                    }
                    .text {
                        color: var(--White, #FFF);
                        font-family: Inter;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }
                    a {
                        color: var(--White, #FFF);
                        text-align: center;
                        font-family: Inter;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                        max-width: 215px;
                        padding: 18px 42px;
                        border-radius: 900px;
                        border: 1px solid var(--White-60, rgba(255, 255, 255, 0.60));
                        transition: border-color ease-in .3s;
                        &:hover {
                            border-color: #fff;
                        }
                    }
                }
            }
            .for_dev {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                gap: 40px;
                width: 100%;
                padding-top: 24px;
                .top_text {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 24px;
                    .title {
                        color: var(--Dark, #0D0D12);
                        text-align: center;
                        font-family: Inter;
                        font-size: 56px;
                        font-style: normal;
                        font-weight: 629;
                        line-height: 110%;
                        letter-spacing: -1.68px;
                    }
                    .text {
                        color: var(--Dark-80, rgba(17, 17, 17, 0.80));
                        text-align: center;
                        font-family: Inter;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        max-width: 570px;
                    }
                }
                .langs {
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 24px;
                    .lang_block {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 16px;
                        flex-direction: column;
                        .title {
                            color: var(--Dark-80, rgba(17, 17, 17, 0.80));
                            text-align: center;
                            font-family: Inter;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%;
                            width: 180px;
                        }
                    }
                }
                .open_chat {
                    border-radius: 900px;
                    background: var(--General, #41A4DF);
                    padding: 18px 42px;
                    color: var(--White, #FFF);
                    text-align: center;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                    transition: background-color ease-in .3s;
                    &:hover {
                        background: #297EE2;
                    }
                }
            }
        }
    }
}

footer {
    background: var(--Dark-blue, #232328);
    width: 100%;
    padding-top: 80px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    .footer_sec {
        max-width: 1200px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        flex-direction: column;
        gap: 24px;
        .top {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo {
                border-radius: 16px;
            }
            .footer_nav {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 32px;
                a {
                    color: var(--White, #FFF);
                    text-align: center;
                    font-family: Inter;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                }
            }
            .btn_started_footer {
                color: var(--White, #FFF);
                text-align: center;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 120%;
                padding: 18px 42px;
                border-radius: 900px;
                border: 1px solid var(--White-60, rgba(255, 255, 255, 0.60));
                transition: border-color ease-in .3s;
                &:hover {
                    border-color: #fff;
                }
            }
        }
        .bot_footer {
            color: var(--White, #FFF);
            font-family: Inter;
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }
    }
}

.black {
    background: var(--BG-dark, #0D0D12);
    main .main_2 .main_2_sec .for_dev .top_text .title,
    main .quick_start_using_sec .quick_start_block .text_block .dop_text_block .text,
    main .quick_start_using_sec .quick_start_block .text_block .title,
    main .quick_start_using_sec .main_title,
    main .main_1 .bot_block .send_coins_block .text_block .title,
    main .main_1 .bot_block .anonymous_payments .text_block .title,
    main .main_1 .middle_block .payment_statistics .text_block .title,
    main .main_1 .middle_block .left .one_click_block .text_block .title,
    main .main_1 .accept_cryptocurrencies_sec .text_block .title,
    main .main_1 .middle_block .left .real_time_block .text_block .title,
    .top_block .main_top_block .left .populare p,
    .top_block .main_top_block .left .text_under_title,
    .top_block .main_top_block .left .title,
    .top_block header .header_nav a {
        color: #fff;
    }
    main .main_2 .main_2_sec .for_dev .langs .lang_block .title,
    main .main_2 .main_2_sec .for_dev .top_text .text,
    main .quick_start_using_sec .quick_start_block .text_block .dop_text_block li span,
    main .quick_start_using_sec .quick_start_block .text_block .mini_text,
    main .main_1 .accept_cryptocurrencies_sec .text_block .text,
    main .main_1 .middle_block .left .one_click_block .text_block .text,
    main .main_1 .middle_block .left .real_time_block .text_block .text,
    main .main_1 .middle_block .payment_statistics .text_block .text,
    main .main_1 .bot_block .anonymous_payments .text_block .text,
    main .main_1 .bot_block .send_coins_block .text_block .text {
        color: rgba(255, 255, 255, 0.8);
    }
    .top_block header .header_btns .btn_started_header {
        border-radius: 900px;
        border: 1px solid var(--White-60, rgba(255, 255, 255, 0.60));
        color: var(--White, #FFF);
        text-align: center;
        font-family: Inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        background: none;
        transition: border-color ease-in .3s;
        &:hover {
            border-color: #fff;
        }
    }
    .slider {
        background: var(--BG-dark, #18181D);
    }
    main .main_1 .accept_cryptocurrencies_sec,
    main .main_1 .bot_block .anonymous_payments,
    main .main_1 .middle_block .payment_statistics,
    main .main_1 .middle_block .left .real_time_block,
    main .main_1 .middle_block .left .one_click_block,
    main .main_1 .bot_block .send_coins_block {
        background: #17171b;
    }
    main .quick_start_using_sec {
        background: var(--Dark, #18181D);
    }
    main .quick_start_using_sec .quick_start_block .text_block .cifra {
        border-radius: 900px;
        background: var(--White, #FFF);
        color: var(--Dark, #0D0D12);
        box-shadow: 0px 0px 8px 0px rgba(182, 186, 191, 0.04), 0px 2px 3px 0px rgba(0, 0, 0, 0.02);
    }
    footer,
    main .main_2 {
        background: #18181D;
    }
    .top_block .main_top_block .left .populare .bots_block .photo_block,
    main .main_2 .main_2_sec {
        background: #0D0D12;
    }
}

@media screen and (max-width: 1200px) {
    main .main_2 .main_2_sec .for_dev .langs {
        justify-content: flex-start;
    }
    .top_block {
        padding: 0 20px 150px 20px;
    }
    .slider {
        padding: 196px 20px;
    }
    .slider .slider_con .slider_block .photo_block {
        padding: 20px !important;
    }
    .slider .slider_con .slider_sec {
        // max-height: 415px;
    }
    main .main_1 .bot_block,
    main .main_1 .middle_block {
        flex-direction: column;
        align-items: center;
    }
    main .quick_start_using_sec .quick_start_block {
        flex-direction: column-reverse;
        gap: 20px;
    }
    main .quick_start_using_sec .colrev {
        flex-direction: column !important;
    }
    .slider .slider_con {
        gap: 60px;
    }
    .slider .slider_con .slider_block {
        gap: 20px;
    }
}

@media screen and (max-width: 1000px) {
    .slider .slider_con {
        max-height: 420px;
    }
    .slider .slider_con .slider_block {
        height: 420px;
    }
    .slider .slider_con .slider_sec {
        top: 420px;
    }
    .slider .slider_con .slider_block .photo_block {
        width: 420px;
        height: 420px;
        img {
            width: 100%;
        }
    }
    .slider .slider_con .slider_block .main_block_slider .text_block .title {
        font-size: 40px;
    }
}

@media screen and (max-width: 900px) {
    .slider .slider_con .slider_block .main_block_slider .text_block .title {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .top_block {
        padding: 0 20px 114px 20px;
        header {
            padding: 44px 0 30px 0;
            .header_nav {
                display: none;
            }
            .logo {
                width: 46px;
                border-radius: 12px;
            }
            .header_btns {
                gap: 8px;
                .btn_started_header {
                    padding: 12px 32px;
                    font-size: 18px;
                }
            }
        }
        .main_top_block {
            flex-direction: column;
            gap: 52px;
            .left {
                gap: 12px;
                align-items: center;
                .title {
                    padding-bottom: 12px;
                    font-size: 46px;
                    font-style: normal;
                    font-weight: 629;
                    line-height: 110%;
                    letter-spacing: -1.38px;
                    text-align: center;
                }
                .text_under_title {
                    text-align: center;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                    max-width: 326px;
                }
                .btn_started_main {
                    padding: 12px 32px;
                }
                .populare {
                    align-items: center;
                    padding-top: 12px;
                    .bots_block .photo_block {
                        padding: 2px;
                        margin-left: -16px;
                    }
                    img {
                        max-width: 59px;
                    }
                    p {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                    }
                }
            }
        }
    }
    .slider {
        padding: 32px 20px;
        height: 708px;
        gap: 32px;
        justify-content: space-between;
        flex-direction: column;
        .slider_con {
            flex-direction: column;
            gap: 32px;
            padding: 0;
            height: 100%;
            max-height: 595px;
            .slider_sec {
                height: 100%;
                top: 0;
                .slider_block {
                    flex-direction: column;
                    gap: 33px;
                    height: 100%;
                    max-height: 595px;
                    justify-content: space-between;
                    align-items: center;
                    .photo_block {
                        width: 100%;
                        border-radius: 24px;
                        padding: 20px 30px !important;
                        width: 335px;
                        height: 335px;
                        img {
                            max-width: 300px;
                            width: 100%;
                        }
                    }
                    .main_block_slider {
                        max-width: 100%;
                        width: 100%;
                        .text_block {
                            width: 100%;
                            justify-content: center;
                            align-items: center;
                            gap: 24px;
                            .title {
                                text-align: center;
                                font-size: 31px;
                                font-style: normal;
                                font-weight: 629;
                                line-height: 110%;
                                letter-spacing: -0.96px;
                                .auto_sales {
                                    width: 100%;
                                }
                            }
                            .under_title {
                                font-family: Inter;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 120%;
                                text-align: center;
                                max-width: 100%;
                                height: 66px;
                            }
                            .open_api_btn {
                                padding: 12px 0;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 120%;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .slider_btns {
            flex-direction: row;
            height: auto;
            width: 100%;
            .line {
                width: 100%;
                height: 4px;
            }
        }
    }
    main {
        padding-top: 0;
        .main_1 {
            padding: 80px 20px;
            gap: 16px;
            .accept_cryptocurrencies_sec {
                gap: 24px;
                border-radius: 24px;
                padding: 32px;
                .mob_crypto {
                    width: 100%;
                    flex-wrap: wrap;
                    display: flex;
                    row-gap: 10px;
                    img {
                        margin-left: 10px;
                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }
                video {
                    display: none;
                }
                .text_block {
                    gap: 16px;
                    .title {
                        font-size: 27px;
                        font-style: normal;
                        font-weight: 629;
                        line-height: 110%;
                        letter-spacing: -0.84px;
                    }
                    .text {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 120%;
                        color: var(--Dark-80, rgba(17, 17, 17, 0.8));
                    }
                }
            }
            .middle_block {
                gap: 16px;
                .left {
                    gap: 16px;
                    .real_time_block,
                    .one_click_block {
                        padding: 32px;
                        gap: 24px;
                        .text_block {
                            gap: 16px;
                            .title {
                                font-size: 28px;
                                font-style: normal;
                                font-weight: 629;
                                line-height: 110%;
                                letter-spacing: -0.84px;
                            }
                            .text {
                                font-family: Inter;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 120%;
                            }
                        }
                    }
                }
                .payment_statistics {
                    padding: 32px;
                    gap: 24px;
                    viseo {
                        border-radius: 16px;
                    }
                    .text_block {
                        gap: 16px;
                        .title {
                            font-size: 28px;
                            font-style: normal;
                            font-weight: 629;
                            line-height: 110%;
                            letter-spacing: -0.84px;
                        }
                        .text {
                            font-family: Inter;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                        }
                    }
                }
            }
            .bot_block {
                gap: 16px;
                .anonymous_payments,
                .send_coins_block {
                    gap: 24px;
                    padding: 0 32px 32px 32px;
                    .text_block {
                        gap: 16px;
                        .title {
                            font-size: 28px;
                            font-style: normal;
                            font-weight: 629;
                            line-height: 110%;
                            letter-spacing: -0.84px;
                        }
                        .text {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                        }
                    }
                }
                .anonymous_payments {
                    padding: 32px;
                }
            }
        }
        .quick_start_using_sec {
            padding: 32px 20px;
            gap: 24px;
            .main_title {
                text-align: center;
                font-size: 32px;
                font-style: normal;
                font-weight: 629;
                line-height: 110%;
                letter-spacing: -0.96px;
            }
            .quick_start_block {
                gap: 16px;
                align-items: flex-start;
                .img_block3 {
                    border-radius: 24px;
                    padding: 64.476px 19.721px 63.546px 19px;
                    img {
                        width: 100%;
                    }
                }
                .img_block2 {
                    height: 277.085px;
                    border-radius: 24px;
                    padding: 0px 17.721px 0px 17px;
                    img {
                        width: 100%;
                    }
                }
                .img_block1 {
                    padding: 47px 26px 46.557px 26px;
                    border-radius: 24px;
                    img {
                        width: 100%;
                    }
                }
                .text_block {
                    flex-direction: row;
                    gap: 16px;
                    .cifra {
                        width: 100%;
                        max-width: 36px;
                        height: 36px;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 629;
                        line-height: 110%;
                        letter-spacing: -0.72px;
                    }
                    .text_con {
                        gap: 16px;
                        .title {
                            font-size: 28px;
                            font-style: normal;
                            font-weight: 629;
                            line-height: 110%;
                            letter-spacing: -0.84px;
                        }
                        .mini_text {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                        }
                        .list_text {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%;
                        }
                        .text {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                        }
                    }
                }
            }
        }
        .main_2 {
            .main_2_sec {
                padding: 80px 20px 40px 20px;
                gap: 80px;
                border-radius: 0px 0px 24px 24px;
                .crypto_pay_api {
                    border-radius: 24px;
                    padding: 0 32px 28px 32px;
                    height: 514px;
                    align-items: flex-end;
                    background: url(../img/API-block-mob.png);
                    background-repeat: none;
                    background-size: cover;
                    .info_block {
                        gap: 24px;
                        .title {
                            font-size: 32px;
                            font-style: normal;
                            font-weight: 629;
                            line-height: 110%;
                            letter-spacing: -0.96px;
                        }
                        .text {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                        }
                        a {
                            padding: 12px 32px;
                            width: 100%;
                            max-width: 100%;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 120%;
                        }
                    }
                }
                .for_dev {
                    padding-top: 12px;
                    gap: 24px;
                    .top_text {
                        .title {
                            font-size: 32px;
                            font-style: normal;
                            font-weight: 629;
                            line-height: 110%;
                            letter-spacing: -0.96px;
                        }
                        .text {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 120%;
                        }
                    }
                    .langs {
                        gap: 12px;
                        row-gap: 24px;
                        .lang_block {
                            img {
                                max-width: 63px;
                            }
                            .python_title {
                                width: 90px !important;
                            }
                            .title {
                                width: 104px;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 500;
                                word-wrap: break-word;
                                line-height: 120%;
                                text-align: center;
                            }
                        }
                    }
                    .open_chat {
                        padding: 12px 32px;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 120%;
                    }
                }
            }
        }
    }
    footer {
        padding: 40px 20px 30px 20px;
        .footer_sec {
            .top {
                .logo {
                    width: 46px;
                }
                .btn_started_footer {
                    padding: 12px 32px;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 120%;
                }
                .footer_nav {
                    display: none;
                }
            }
        }
        .bot_footer {
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 120%;
        }
    }
    .black .top_block header .header_btns .btn_started_header {
        font-size: 18px;
    }
}

#cryptobot_link {
    transition: all .2s ease-in;
    &:hover {
        color: #297EE2;
        border-bottom: 1px solid #297EE2;
    }
}